html, body {
	position: relative;
	width: 100%;
	background: rgb(251, 251, 251);
	background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(254,247,248,1) 16%, rgba(255,245,247,1) 100%);
}

body {
	background: rgb(251, 251, 251);
	background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(254,247,248,1) 16%, rgba(255,245,247,1) 100%);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gothic A1', sans-serif;
}

a {
	color: #884BFF;
	text-decoration: none;
}

a:visited {
	color: #6416ff;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: #2C2851;
	font-size: 5vmax;
}

/* Boostrap related styling */
.col, .col-auto, .row {
	padding: 0;
	margin: 0;
}