html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(251, 251, 251);
	background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(254, 247, 248, 1) 72%, rgba(255, 245, 247, 1) 100%);
}

body {
	background: rgb(251, 251, 251);
	background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(254, 247, 248, 1) 72%, rgba(255, 245, 247, 1) 100%);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #884BFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #6416ff;
}

/* Boostrap related styling */

.container {
	padding: 0;
}
.col {
	padding: 0;
	margin: 0;
}
.row {
	padding: 0;
	margin: 0;
}